/*
 * style.css for modern love simulator
 */

body {
  font-family: sans-serif;
}

p {
  margin-right: 12.5%;
  margin-left: auto;
  width: 75%;
}

#topbar {
  margin-bottom: 10px;
}

@media (max-width: 625px) {
  .title {
    display: none;
  }
}

.title {
  text-align: center;
  margin: 5px;
}

#links {
  position: absolute;
  right: 10px;
}

#main {
  width: 75%;
  margin-right: 12.5%;
  margin-left: auto;
  padding: 0;
  border: 1px solid #ebebeb;
  border-radius: 11px;
  font-weight: bold;
}

@media (max-width: 625px) {
  #main {
    padding-top: 25px;
    border: none;
  }
}

.banner {
  background-color: #ebebeb;
  height: 75px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.row {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  min-height: 45px;
  overflow: auto;
}

.msg {
  padding: 10px;
  border-radius: 20px;
  max-width: 40%;
}

#middle {
  height: 350px;
  overflow-y: scroll;
}

#bttm {
  height: 40px;
  padding: 15px;
  background-color: #ebebeb;
  border-radius: 0 0 10px 10px;
}

#entry {
  padding-left: 10px;
  padding-right: 40px;
  border: 1px solid #777777;
  border-radius: 20px;
  height: 35px;
  width: calc(100% - 60px);
}

#entry:focus {
  outline: none;
}

#send {
  position: relative;
  top: 6px;
  margin-left: -40px;
  border: 0;
  width: 25px;
  height: 25px;
  background: url(send-white.png);
  background-size: 25px 25px;
}

#send:focus {
  outline: none;
}

@-moz-document url-prefix() {
  #send {
    position: relative;
    top: 0;
  }
}

.sent {
  position: relative;
  background-color: #319ef9;
  color: #fff;
  float: right;
  right: 10px;
}

.received {
  position: relative;
  background-color: #e6e5eb;
  color: #000;
  float: left;
  left: 10px;
}

.sent::after {
  content: '';
  position: absolute;
  right: 1px;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #319ef9;
  border-right: 0;
  border-top: 0;
  margin-top: -5px;
  margin-right: -10px;
}

.received::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #e6e5eb;
  border-left: 0;
  border-top: 0;
  margin-top: -5px;
  margin-left: -10px;
}

#thinking {
  display: none;
  margin: 0;
  margin-top: -45px;
}

#thinkinging {
  width: 20px;
  height: 19px;
}

#thinkinging::before {
  position: relative;
  bottom: 3px;
  color: #777777;
  content: "...";
  animation-name: test;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes test {
  0%  {content: "...";}
  14% {content: "..";}
  28% {content: ".";}
  42% {content: "";}
  56% {content: ".";}
  70% {content: "..";}
  100% {content: "...";}
}
